@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-main: "Plus Jakarta Sans", sans-serif;
  --font-strong: "Poppins", sans-serif;
  --backgroundHome: #161513;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-strong {
  font-family: var(--font-strong);
}

body {
  color: var(--foreground);
  background: var(--backgroundHome);
  font-family: var(--font-main);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
